<table  datatable="" dt-options="actionTypesController.dtOptions" dt-columns="actionTypesController.dtColumns" dt-instance="actionTypesController.dtInstance" class="row-border hover">
</table>

<script type="text/ng-template" id="actionTypeDeleteConfirmDialog">
    <h1>Confirm</h1>
    <p>Are you sure to delete this action type?</p>

    <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
    <button type="button" class="btn btn-default" ng-click="confirm()">Confirm</button>
</script>

<script type="text/ng-template" id="actionTypeDeleteSuccessDialog">
    <h1>Success</h1>
    <p>Action Type is deleted saved.</p>
</script>

<script type="text/ng-template" id="actionTypeDeleteErrorDialog">
    <h1>Error</h1>
    <p>An error occured while deleting action type.</p>
</script>
