<h2>Update Action Type</h2>

<form role="form" ng-submit="actionTypesController.update()" name="actionTypeUpdateForm" novalidate >
  <div class="form-group" haserrorfor="actionTypeUpdateForm.typeName">
    <label for="inputActionTypeName">Name</label>
    <input type="text" class="form-control" id="inputActionTypeName"
          name="typeName" 
          ng-model="actionTypesController.actionTypeToUpdate.name" />
    <div ng-messages="actionTypeUpdateForm.typeName.$error" showerrorfor="actionTypeUpdateForm.typeName">
      <span class="help-block" ng-message="required">Action type name is required.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="inputActionHasElement">Has Element</label>
    <input id="inputActionHasElement" type="checkbox" name="hasElement" bs-switch
      ng-model="actionTypesController.actionTypeToUpdate.hasElement"
      switch-on-text="YES" switch-off-text="NO"
      ng-true-value="'1'" ng-false-value="'0'"
      switch-change="actionTypesController.actionTypeToUpdateHasElementChanged()">
  </div>

  <div class="form-group">
    <label for="inputActionHasInput">Has Input</label>
    <input id="inputActionHasInput" type="checkbox" name="hasInput" bs-switch
      ng-model="actionTypesController.actionTypeToUpdate.hasInput"
      switch-on-text="YES" switch-off-text="NO"
      ng-true-value="'1'" ng-false-value="'0'"
      switch-active="{{actionTypesController.actionTypeToAdd.hasElement !== '0'}}">
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>

<script type="text/ng-template" id="actionTypeUpdateSuccessDialog">
    <h1>Success</h1>
    <p>Action Type is succesfully updated.</p>
</script>

<script type="text/ng-template" id="actionTypeUpdateErrorDialog">
    <h1>Error</h1>
    <p>An error occured while updating action type.</p>
</script>