<div class="col-md-4 col-md-offset-4">
    <h2 class="form-signin-heading">Please sign in</h2>
    <form name="loginForm" novalidate ng-submit="signin()">
        <div class="form-group" haserrorfor="loginForm.inputUsername">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="inputUsername" class="form-control" 
                placeholder="User name" required autofocus
                ng-model="username">
            <div showerrorfor="loginForm.inputUsername" ng-messages="loginForm.inputUsername.$error">
                <span class="help-block" ng-message="required">Username cannot be empty.</span>
            </div>
        </div>

        <div class="form-group" haserrorfor="loginForm.inputPassword">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" class="form-control"
                placeholder="Password" required ng-minlength="5"
                ng-model="password">
            <div showerrorfor="loginForm.inputPassword" ng-messages="loginForm.inputPassword.$error">
                <span class="help-block" ng-message="required">Password cannot be empty.</span>
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <input class="btn btn-default" type="submit" value="Sign in">
    </form>
</div>

<script type="text/ng-template" id="loginErrorDialog">
    <h1>Error</h1>
    <p>Username or password is wrong.</p>
</script>